@import 'basic-config';

.main-text {
    text-align: center;
}

.main-text h2 {
    font-size: var(--h2-font);
    margin-bottom: 10px;
}

.main-text h4 {
    color: var(--main-color);
    font-size: 24px;
    font-weight: 600;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, auto));
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}
.box {
    padding: 35px;
    background: #12141c;
    border-top: 5px solid transparent;
    transition: all .40s ease;
    cursor: pointer;
    border-radius: 5px;
}

.box h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 15px 0;
    transition: all .40s ease;
}
.box p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 25px;
}
.box:hover {
    border-top: 5px solid var(--main-color);
    transform: scale(1.01 )translateY(-5px);
}
.box:hover h3 {
    color: var(--main-color);
}

/* Portfolio Section */

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}
.row img {
    height: auto;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
 }
    
 .row {
    padding: 25px;
    background: #12141c;
    border-radius: 0.5rem;
    transition: all .4s ease;
 }
.main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.row h3 {
    font-size: 25px;
    font-weight: 700;
}
.row h6 {

    color: var(--main-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
.row-icon {
    font-size: 21px;
}
.row:hover {
    transform: scale(1.01) translateY(-6px);
    box-shadow: 3px 3px 8px 2px #ffffff;
    cursor: pointer;
}