@import 'basic-config';
@import 'about';


body {
  background-color: var(--bg-color);
  color: var(--text-coor);
  position: relative;
}

/* Section Padrao */
section {
  padding: 120px 16% 90px;
}


/* Header */
header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 22px 16%;
  border-bottom: 1px solid transparent;
  transition: all .40 ease;
}

header.shadow {
  padding: 15px 16%;
  background: #020312c9;
  border-bottom: 1px solid #0e1630;
}

.logo img {
  width: 40px;
  height: auto;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  background: var(--text-coor);
  color: var(--text-coor);
  padding: 5px;
}

.navbar {
  display: flex;
  align-items: center;
}
.navbar a {
  color: var(--second-color);
  font-size: var(--p-font);
  font-weight: 600;
  padding: 10px 25px;
  margin: 0 2px;
  border-radius: 0.5rem;
  transition: all .40s ease;
}
.navbar a:hover {
  background: var(--main-color);
  color: var(--text-coor);
}
#menu-icon {
  font-size: 36px;
  color: var(--text-coor);
  z-index: 101;
  cursor: pointer;
  display: none;
}

/* home */

.home {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url(../asset/maylon_at_dunas-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-text h1 {
  margin: 20px 0;
  font-size: var(--h1-font);
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 2px; 
}
.home-text span {
  color: var(--main-color);
}
.home-text h4 {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 600;
}
.home-text h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 3rem;
}
.btn {
  display: inline-block;
  padding: 14px 40px;
  border-radius: 0.5rem;
  font-size: 17px;
  font-weight: 500;
  background: var(--main-color);
  color: var(--text-coor);
  border: 1px solid var(--main-color);
  transition: all .40s ease;
}
.btn:hover {
  transform: scale(1.01 )translateY(-5px);
  background: transparent;
  border: 1px solid var(--main-color);
}